* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    height: 40px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    /*Dùng top left right với fixed cho tràn ra */
    background-color: rgb(249, 249, 249);
    padding: 10px;
    margin: 0px 0px;
    z-index: 7;
}

.headleft_find {
    display: flex;
    height: 30px;
    width: 300px;
    border: 1px solid rgba(70, 69, 69, 0.734);
    border-radius: 10px 10px;
    background-color: rgb(244, 242, 240);
    margin-left: 20px;
}

.headleft_find_icon {
    margin-left: 20px;
}

.headleft_find p {
    font-size: x-small;
    padding-left: 20px;
    padding-top: 7px;
}

.headleft_mid {
    display: flex;

}

.headleft_mid nav {
    margin-left: 30px;
    line-height: 30px;

}



/* .headleft_mid nav:hover {
    background-color: rgb(201, 208, 208);
    height: 40px;
    width: max-content;
    
} */

#middle {
    display: flex;
    margin: 70px 0px 0px 0px;
}

.middle_list {
    position: fixed;
    width: 170px;

    background-color: rgb(249, 249, 249);
    z-index: 6;
}

.middle_list_top>ul>li {
    padding: 5px;
    margin-left: 25px;
}



.middle_right {
    padding-left: 20px;
    background-color: rgba(231, 230, 233, 0.396);
    display: block;
    margin-left: 180px;
    border-radius: 20px 20px;

}

#middle_Slide {
    background-color: rgba(231, 230, 233, 0.396);
}

.middle_right_Slide {
    height: 250px;

    display: flex;
    margin: 20px 0px;
    justify-content: space-between;

}

#middle__Slide_left {
    width: 750px;
    height: 250px;
    background-color: rgb(94, 68, 223);
    display: flex;
    border-radius: 20px 20px;
    position: relative;
}

#middle__Slide_left ul {
    width: 370px;
    line-height: 40px;
    padding: 30px;
    list-style: none;

}

#middle__Slide_left li a {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

#middle__Slide_left li p {
    color: white;
    font-size: small;
}

.middle__Slide_left_nut {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 50%;
}

.middle__Slide_right {
    width: 300px;
    background-color: rgb(185, 114, 114);
    height: 250px;
    border-radius: 20px 20px;
    display: flex;
    position: relative;
    z-index: 0;
}

.middle__Slide_right_content {
    width: 200px;
    line-height: 30px;
    padding: 10px;
    list-style: none;
}

.middle__Slide_right_content p {
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.middle__Slide_right_content a {
    font-size: x-small;
}

.middle__Slide_right_img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#middle__Slide1:checked~#middle__Slide_left {
    display: block;
}

#middle__Slide2:checked~#middle__Slide2_left {
    display: block;
}



.middle_right_update {
    height: max-content;
    width: 1060px;

    font-family: Arial, Helvetica, sans-serif;
}

.middle_right_update_content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}

.middle_right_update_img {
    background-color: aliceblue;
    width: 1080px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px 20px;

}

.middle_right_update_nameimg h6 {
    font-size: x-small;
    width: 190px;
    text-align: left;

}

.middle_right_update_img1 {
    padding: 20px 10px;
    display: flex;
}

.middle_right_update_littleimg img {
    width: 50px;
    height: 50px;
    padding-right: 10px;

}

.middle_right_update_nameimg {
    padding-right: 5px;

}

.middle_right_update_moreimg>div {
    border-radius: 10px 10px;
    border: 2px solid rgb(59, 68, 234);
    padding: 4px;
    width: max-content;
}

.middle_right_user {
    display: flex;
    margin-top: 20px;
    width: 100%;

}

.middle_right_user_public {

    width: 50%;

}

.middle_right_user_public_content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}

.middle_right_user_public_img {

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;

}

.middle_right_user_public_img1 {
    height: 200px;
    margin-bottom: 20px;
    width: 230px;
    background-color: rgb(236, 234, 233)
}

.middle_right_user_public_img_top {
    display: flex;
    position: relative;
    background-color: rgb(174, 191, 209);
    padding: 20px;



}

.middle_right_user_public_img_top>nav>div {
    border-radius: 10px 10px;
    border: 2px solid rgb(59, 68, 234);
    padding: 3px;
    width: max-content;
}

.middle_right_user_public_img_middle {
    padding-left: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.middle_right_user_public_img_middle p {
    font-weight: initial;
    color: rgb(138, 144, 144)
}

.middle_right_user_public_img_under {
    display: flex;
    font-size: 9px;
    width: 200px;
    padding-left: 10px;
}

.middle_right_user_public_img_under nav {
    padding-left: 15px;

}

.middle_right_user_manual_content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.middle_right_user_manual_imgtop {
    background-color: rgb(233, 229, 111);
    position: relative;
    height: 200px;
    width: 550px;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 0px;
    border-radius: 20px 20px;
}

.middle_right_user_manual_imgtop_content {
    padding: 20px 0px 0px 30px;
    line-height: 40px;
}

.middle_right_user_manual_imgtop img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 200px;
    font-weight: lighter;
}


.middle_right_user_manual_imgbottom_Appfilm {
    display: flex;
    padding: 15px 0px;
}

.middle_right_user_manual_imgbottom_Appfilm>nav>div {
    border-radius: 10px 10px;
    border: 2px solid rgb(59, 68, 234);
    padding: 3px;
    width: max-content;
}

.middle_right_user_manual_imgbottom_contentfilm {
    font-size: xx-small;
    line-height: 20px;
    padding-left: 20px;
}

.middle_right_error_in4 {
    display: grid;
    grid-template-columns: auto auto auto;

}

.middle_right_error_in4_img img {
    border-radius: 20px 20px;
    height: 200px;
    margin-top: 20px;
    width: 300px;
}

.middle_right_error_in4_content {
    margin-top: 10px;
    font-size: 20px;
    width: 300px;
}

.middle_right_newgame {

    width: 100%;

    margin: 20px 0px;
}

.middle_right_newgame_left {
    height: 400px;
    width: 500px;
    color: aliceblue;
    background-image: url(/prj1_Dever/img/Game/metro.jpg);
    background-size: cover;
    padding: 30px;
    line-height: 40px;

}

.middle_right_newgame_detail {
    display: flex;
}

.middle_right_newgame_detail h3 {
    color: rgb(252, 252, 252);
}

.middle_right_newgame_right {
    margin-left: 20px;
    line-height: 40px;
}

.middle_right_newgame_right_on {
    display: flex;
    padding-bottom: 30px;

}

.middle_right_newgame_right_top {
    border: 1px solid;
    border-radius: 15px 15px;
    width: max-content;
    line-height: 20px;
    background-color: rgba(232, 228, 228, 0.973);
    margin-top: 10px;
    box-shadow: 0px 2px 0px 0px rgb(167, 186, 187);
    display: block;


}

.middle_newgame_right_topcontent {
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
    color: rgba(100, 90, 77, 0.574);
    padding: 0px 10px;

}

.middle_right_hotgame_block {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Hover */
.headleft_mid nav:hover,
.middle_list_top>ul>li:hover,
.middle_right_user_public_img_middle h5:hover {
    color: rgba(23, 20, 214, 0.64);
    cursor: pointer;


}

.middle_right_error_in4_img {
    cursor: pointer;
}

.middle_right_update_moreimg>div:hover,
.middle_right_user_public_img_top>nav>div:hover,
.middle_right_user_manual_imgbottom_Appfilm>nav>div:hover,
.Newgame_detail1_block:hover {
    background-color: rgba(0, 60, 255, 0.481);

}

.middle_right_newgame_left>div>.middle_right_newgame_right_top:hover,

.middle_right_newgame_right_top:hover,
.middle_list_game:hover {
    background-color: rgba(0, 60, 255, 0.481);

    border-radius: 10px 10px;
}

.middle_right_newgame_left>div>h3:hover,
.middle_list_game:hover,
.middle_right_newgame_detail h3:hover {
    color: blue;

}

.middle_right_hotgame_blockimg img:hover {
    filter: brightness(50%);
    background: url(/img/play-solid.svg);

}

.middle_right_update_moreimg_a:hover,
.middle_newgame_right_topcontent:hover,
.Newgame_detail1:hover,
.Newgame_detail:hover,
.middle_right_newgame_right_top>p:hover {
    color: aliceblue;
}

/* Một số phải đưa ra để dùng hover */
.middle_right_update_moreimg_a {
    font-size: xx-small;
    color: rgba(44, 60, 242, 0.841);
    font-weight: bold;
}


.Newgame_detail1,
.Newgame_detail {
    font-size: x-small;
    color: rgba(44, 60, 242, 0.841);
    font-weight: bold;
    line-height: 20px;

}

.Newgame_detail1_block {
    background-color: rgb(252, 242, 242);
    width: 100px;
    text-align: center;
}

.middle_right_newgame_right_top>p {
    text-transform: uppercase;
    font-size: xx-small;
    color: rgba(86, 80, 73, 0.8);
    text-align: center;

}