* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

#head {
    height: 40px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    /*Dùng top left right với fixed cho tràn ra */
    background-color: rgb(249, 249, 249);
    padding: 20px 0px;
    margin: 0px 10px;
    z-index: 7;
}

.headleft_find {
    display: flex;
    height: 30px;
    width: 300px;
    border: 1px solid rgba(70, 69, 69, 0.734);
    border-radius: 10px 10px;
    background-color: rgb(244, 242, 240);
    margin-left: 20px;
}

.headleft_find_icon {
    margin-left: 20px;
}

.headleft_find p {
    font-size: small;
    padding-left: 20px;
    padding-top: 5px;
}

.headleft_mid {
    display: flex;

}

.headleft_mid nav {
    margin-left: 30px;
    line-height: 30px;

}



/* .headleft_mid nav:hover {
    background-color: rgb(201, 208, 208);
    height: 40px;
    width: max-content;
    
} */

#middle {
    display: flex;
    padding: 80px 10px;
}

.middle_left {
    position: fixed;
    width: 200px;
    height: 600px;
    background-color: aqua;
    z-index: 6;
}

.middle_right {
    padding-left: 200px;
    width: 1100px;
    background-color: rgba(240, 231, 231, 0.65);
    display: block;
    margin-left: 20px;
}

.middle_right_Slide {
    height: 250px;
    background-color: rgb(246, 246, 246);
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;

}

#middle__Slide_left {
    width: 750px;
    height: 250px;
    background-color: rgb(94, 68, 223);
    display: flex;
    border-radius: 20px 20px;
    position: relative;
}

#middle__Slide_left ul {
    width: 370px;
    line-height: 40px;
    padding: 30px;
    list-style: none;

}

#middle__Slide_left li a {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

#middle__Slide_left li p {
    color: white;
    font-size: small;
}
.middle__Slide_left_nut {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 50%;
}

.middle__Slide_right {
    width: 300px;
    background-color: rgb(185, 114, 114);
    height: 250px;
    border-radius: 20px 20px;
    display: flex;
    position: relative;
    z-index: 0;
}

.middle__Slide_right_content {
    width: 200px;
    line-height: 30px;
    padding: 10px;
    list-style: none;
}

.middle__Slide_right_content p {
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.middle__Slide_right_content a {
    font-size: x-small;
}

.middle__Slide_right_img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#middle__Slide1:checked~#middle__Slide_left {
    display: block;
}

#middle__Slide2:checked~#middle__Slide2_left {
    display: block;
}



.middle_right_update{
    height: 300px;
    width: 100%;
    background-color: brown;
    
}
.middle_right_update_content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.middle_right_update_img{

    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto;
}
.middle_right_update_img1{
    background-color: coral;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.middle_right_update_littleimg img{
   width: 50px;
   height: 50px;
   padding-right: 10px;

}
.middle_right_update_nameimg{
    padding-right: 10px;
  
}
.middle_right_update_moreimg > div{
    border-radius: 10px 10px;
    border: 1px solid black;
    padding: 5px;
}

.middle_right_3 {
    height: 500px;
    width: 100%;
    background-color: rgb(77, 42, 165);
}

.middle_right_4 {
    height: 320px;
    width: 100%;
    background-color: rgb(136, 165, 42);
}

.middle_right_5 {
    height: 500px;
    width: 100%;
    background-color: rgb(42, 165, 65);
}

#footer {}